<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lvu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_japan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Red">
        <activity
            android:name=".main.activities.NavigationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".main.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activities.PicturesViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.activities.ComicsViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.activities.NovelViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.activities.MoreJokeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.activities.DownloadManagerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activities.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activities.NewMainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.RESTART" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activities.ErrorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/customactivityoncrash_error_activity_error_details_title"
            android:launchMode="singleTop"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".main.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.activities.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.lvu.main.activities.BaseActivity" />
        </activity>
    </application>

</manifest>