<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.video_player">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".FullScreenActivityLandscape"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".FullScreenActivityPortrait"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>
